<div class="jumbotron">
    <div class="container">
        <div class="row">
            <form class="add-post-btn-form">
                <div class="form-group row">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#add-post-modal">Create a new blog post!</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="d-flex flex-column justify-content-center">
                {{#if posts.length}}
                <section>
                    <h2>Your Posts</h2>
                    <ol>
                        {{#each posts as |post|}}
                        <li>
                            {{> post-info post}}
                            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
                        </li>
                        {{/each}}
                    </ol>
                </section>
                {{else}}
                <section>
                    <h2>Currently no posts available!</h2>
                </section>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-post-modal" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">New Post</h5>
            </div>
            <div class="modal-body">
                <form class="new-post-form">
                    <div class="form-group row">
                        <label for="post-title" class="col-sm-2 col-form-label">Title:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="post-title" aria-describedby="titleHelp"
                                placeholder="Enter title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="post-text" class="col-sm-2 col-form-label">Post:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="post-text" rows="20" placeholder="Start blogging!"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nevermind</button>
                <button id="publish-btn" type="button" class="btn btn-primary">Publish</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/add-post.js"></script>